<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>am_finger_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,26}</string>
            </dict>
            <key>am_finger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,28},{42,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>am_finger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{42,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>finger.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d24da692005a133d1f0696dc68c251c:1/1$</string>
            <key>textureFileName</key>
            <string>finger.png</string>
        </dict>
    </dict>
</plist>
