<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{252,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,258}}</string>
                <key>sourceSize</key>
                <string>{252,260}</string>
            </dict>
            <key>joinGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{252,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,258}}</string>
                <key>sourceSize</key>
                <string>{252,260}</string>
            </dict>
            <key>myRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,258}}</string>
                <key>sourceSize</key>
                <string>{252,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fa9d32919f57559f32ab984772cea3a$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
