<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>detailHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>detailLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{93,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,75}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>detailWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,73}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>detail.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e6b405da3c43edde482c0a2bea5aa22$</string>
            <key>textureFileName</key>
            <string>detail.png</string>
        </dict>
    </dict>
</plist>
