<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>csmj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>csmj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>ermj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>ermj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>hzmj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>hzmj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,68},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>srmj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,68},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>srmj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,68},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>zzmj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>zzmj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,134},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createGame0.png</string>
            <key>size</key>
            <string>{854,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00b22904ce1b583c295058f1b2faeacb$</string>
            <key>textureFileName</key>
            <string>createGame0.png</string>
        </dict>
    </dict>
</plist>
