<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>join0.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,331},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,367},{21,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,295},{23,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,259},{23,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,115},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,223},{23,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join6.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,187},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,79},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join8.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,151},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>join9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,43},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>joinBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{40,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>joinBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>joinClean.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{91,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,39}}</string>
                <key>sourceSize</key>
                <string>{93,39}</string>
            </dict>
            <key>joinInput.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,43},{400,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,65}}</string>
                <key>sourceSize</key>
                <string>{400,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>join.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b34199dd037e440acc8464180932553$</string>
            <key>textureFileName</key>
            <string>join.png</string>
        </dict>
    </dict>
</plist>
