<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateRoomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1008,566}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{1008,566}}</string>
                <key>sourceSize</key>
                <string>{1032,574}</string>
            </dict>
            <key>CreateRoomButtonSubmit.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,570},{154,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,67}}</string>
                <key>sourceSize</key>
                <string>{154,67}</string>
            </dict>
            <key>CreateRoomSelectPX258.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,765},{193,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,65}}</string>
                <key>sourceSize</key>
                <string>{193,65}</string>
            </dict>
            <key>CreateRoomSelectPX258_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,570},{193,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,65}}</string>
                <key>sourceSize</key>
                <string>{193,65}</string>
            </dict>
            <key>CreateRoomSelectZZMJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{193,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,65}}</string>
                <key>sourceSize</key>
                <string>{193,65}</string>
            </dict>
            <key>CreateRoomSelectZZMJ_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{193,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,65}}</string>
                <key>sourceSize</key>
                <string>{193,65}</string>
            </dict>
            <key>charge_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,726},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>newCheck4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,960},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>newUncheck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createroom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ecbe313b094ae499ad61af8bef2de0:1/1$</string>
            <key>textureFileName</key>
            <string>createroom.png</string>
        </dict>
    </dict>
</plist>
