<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateRoomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1008,566}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{1008,566}}</string>
                <key>sourceSize</key>
                <string>{1032,574}</string>
            </dict>
            <key>CreateRoomButtonSubmit.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,570},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>CreateRoomSelectPX258.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{194,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>CreateRoomSelectPX258_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>CreateRoomSelectZZMJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,765},{193,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,63}}</string>
                <key>sourceSize</key>
                <string>{193,63}</string>
            </dict>
            <key>CreateRoomSelectZZMJ_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,570},{193,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,63}}</string>
                <key>sourceSize</key>
                <string>{193,63}</string>
            </dict>
            <key>charge_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,732},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>newCheck4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,962},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>newUncheck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createroom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6a5bf465be2c323d269f2726a68aad0:1/1$</string>
            <key>textureFileName</key>
            <string>createroom.png</string>
        </dict>
    </dict>
</plist>
