<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{80,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,123}}</string>
                <key>sourceSize</key>
                <string>{80,123}</string>
            </dict>
            <key>card_front_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,123}}</string>
                <key>sourceSize</key>
                <string>{80,123}</string>
            </dict>
            <key>card_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,167},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>card_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,363},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>card_front_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{66,98}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,98}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card_rear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,416},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>card_rear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,122},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>card_rear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,416},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>card_rear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{66,98}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,98}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>card_side_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,299},{23,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,52}}</string>
                <key>sourceSize</key>
                <string>{23,52}</string>
            </dict>
            <key>value_0x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,78},{46,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{46,76}</string>
            </dict>
            <key>value_0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,156},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>value_0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>value_0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>value_0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,232},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>value_0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,156},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>value_0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,444},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>value_0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,451},{48,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,78}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>value_0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,80},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>value_0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,394},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>value_0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>value_0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,54},{33,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{33,66}</string>
            </dict>
            <key>value_0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,327},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>value_0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,214},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>value_0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,150},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>value_0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,320},{41,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,72}}</string>
                <key>sourceSize</key>
                <string>{41,72}</string>
            </dict>
            <key>value_0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,327},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>value_0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,278},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>value_0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,252},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>value_0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>value_0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,494},{14,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,70}}</string>
                <key>sourceSize</key>
                <string>{14,70}</string>
            </dict>
            <key>value_0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,78},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>value_0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,409},{38,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,70}}</string>
                <key>sourceSize</key>
                <string>{38,70}</string>
            </dict>
            <key>value_0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,324},{45,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,70}}</string>
                <key>sourceSize</key>
                <string>{45,70}</string>
            </dict>
            <key>value_0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{45,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,71}}</string>
                <key>sourceSize</key>
                <string>{45,71}</string>
            </dict>
            <key>value_0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,371},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>value_0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,227},{45,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,70}}</string>
                <key>sourceSize</key>
                <string>{45,70}</string>
            </dict>
            <key>value_0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,405},{44,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,73}}</string>
                <key>sourceSize</key>
                <string>{44,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_pin.png</string>
            <key>size</key>
            <string>{370,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5febb16ebfddb1d4250797c70cc7b2f6$</string>
            <key>textureFileName</key>
            <string>card_pin.png</string>
        </dict>
    </dict>
</plist>
