<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btm_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{70,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,4}}</string>
                <key>sourceSize</key>
                <string>{70,4}</string>
            </dict>
            <key>btn_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,87}}</string>
                <key>sourceSize</key>
                <string>{259,87}</string>
            </dict>
            <key>btn_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>btn_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{257,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,87}}</string>
                <key>sourceSize</key>
                <string>{257,87}</string>
            </dict>
            <key>btn_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>btn_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{259,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,87}}</string>
                <key>sourceSize</key>
                <string>{259,87}</string>
            </dict>
            <key>btn_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,91},{257,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,86}}</string>
                <key>sourceSize</key>
                <string>{257,86}</string>
            </dict>
            <key>btn_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,91},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>btn_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{259,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,86}}</string>
                <key>sourceSize</key>
                <string>{259,86}</string>
            </dict>
            <key>btn_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,91},{257,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,85}}</string>
                <key>sourceSize</key>
                <string>{257,85}</string>
            </dict>
            <key>btn_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,91},{248,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,85}}</string>
                <key>sourceSize</key>
                <string>{248,85}</string>
            </dict>
            <key>btn_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,91},{259,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,85}}</string>
                <key>sourceSize</key>
                <string>{259,85}</string>
            </dict>
            <key>btn_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{257,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,87}}</string>
                <key>sourceSize</key>
                <string>{257,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RoomNumberInputBox.png</string>
            <key>size</key>
            <string>{1548,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a4341e96420d97296f7797e2b6a980b:b86ba317d14f9f76b089777724445665:a979231e0c8821a751ef50b438c4f6f6$</string>
            <key>textureFileName</key>
            <string>RoomNumberInputBox.png</string>
        </dict>
    </dict>
</plist>
