<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>table_ReadyStatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,865},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>table_baodan.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,962},{44,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{44,59}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>table_baodangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,620},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>table_baoshuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{44,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{44,59}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>table_beterry.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,167},{42,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,18}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>table_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{163,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,62}}</string>
                <key>sourceSize</key>
                <string>{163,62}</string>
            </dict>
            <key>table_biaoqing_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,187},{163,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,62}}</string>
                <key>sourceSize</key>
                <string>{163,62}</string>
            </dict>
            <key>table_buchubtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,620},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_bujiaobtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,187},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_bujiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,462},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_chupaibtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,861},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_dizhuTag.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,438},{22,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{22,46}</string>
            </dict>
            <key>table_dizhubtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,861},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_fanghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,932},{69,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{69,64}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>table_inviteFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>table_jiesuanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,962},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,63}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>table_jifengxianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,867},{86,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,25}}</string>
                <key>sourceSize</key>
                <string>{86,25}</string>
            </dict>
            <key>table_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,684},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>table_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,861},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,64}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>table_liaotianbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{327,469}}</string>
                <key>sourceSize</key>
                <string>{337,479}</string>
            </dict>
            <key>table_liaotiansbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,473},{319,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{319,51}}</string>
                <key>sourceSize</key>
                <string>{325,57}</string>
            </dict>
            <key>table_likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,543},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,46}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>table_newClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,462},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>table_nongminTag.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,438},{22,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{22,46}</string>
            </dict>
            <key>table_offLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,353},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>table_onePointBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,790},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{184,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,61}}</string>
                <key>sourceSize</key>
                <string>{186,61}</string>
            </dict>
            <key>table_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,345},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,64}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>table_replaypuase.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,543},{69,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{69,64}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>table_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,614},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{47,52}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>table_shezhibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,473},{244,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,63}}</string>
                <key>sourceSize</key>
                <string>{244,63}</string>
            </dict>
            <key>table_shuiying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{392,98}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,98}}</string>
                <key>sourceSize</key>
                <string>{392,142}</string>
            </dict>
            <key>table_threePointBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,719},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_tipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,473},{225,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,49}}</string>
                <key>sourceSize</key>
                <string>{225,49}</string>
            </dict>
            <key>table_tishibtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,865},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_touxiangbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,778},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>table_twoPointBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,865},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>table_wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,946},{10,8}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{10,8}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>table_wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,438},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>table_wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,167},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>table_wifi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,684},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>table_xiaoppaibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,684},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,48}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>table_xinhaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,473},{209,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,43}}</string>
                <key>sourceSize</key>
                <string>{209,43}</string>
            </dict>
            <key>table_yaoqingbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,794},{210,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,69}}</string>
                <key>sourceSize</key>
                <string>{210,69}</string>
            </dict>
            <key>table_yongyu_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{163,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,62}}</string>
                <key>sourceSize</key>
                <string>{163,62}</string>
            </dict>
            <key>table_yuyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,727},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,64}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>table_yuyingbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,473},{252,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{252,47}}</string>
                <key>sourceSize</key>
                <string>{254,47}</string>
            </dict>
            <key>table_yuyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,188},{163,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,62}}</string>
                <key>sourceSize</key>
                <string>{163,62}</string>
            </dict>
            <key>table_zhongjianbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,352},{82,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,75}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>table_zhunbenbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,865},{156,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,69}}</string>
                <key>sourceSize</key>
                <string>{156,69}</string>
            </dict>
            <key>wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,904},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZtableImg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eacff4bfccc31050517ed01a9007f4e:1/1$</string>
            <key>textureFileName</key>
            <string>DDZtableImg.png</string>
        </dict>
    </dict>
</plist>
