<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>settle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{569,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,223}}</string>
                <key>sourceSize</key>
                <string>{569,223}</string>
            </dict>
            <key>settle_chakanxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,404},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
            <key>settle_fengxiangzhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,286},{137,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,33}}</string>
                <key>sourceSize</key>
                <string>{137,33}</string>
            </dict>
            <key>settle_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,186},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>settle_paijujieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,240},{162,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,43}}</string>
                <key>sourceSize</key>
                <string>{162,43}</string>
            </dict>
            <key>settle_roomHolder.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,240},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>settle_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,134},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>settle_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,130}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{488,130}}</string>
                <key>sourceSize</key>
                <string>{530,190}</string>
            </dict>
            <key>settle_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,134},{530,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,190}}</string>
                <key>sourceSize</key>
                <string>{530,190}</string>
            </dict>
            <key>settle_zailaiyiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,425},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:573b40b649fbfda3217b4b45bffb154a:1/1$</string>
            <key>textureFileName</key>
            <string>settle.png</string>
        </dict>
    </dict>
</plist>
