<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actions_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{227,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,225}}</string>
                <key>sourceSize</key>
                <string>{227,225}</string>
            </dict>
            <key>anim_chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{255,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,241}}</string>
                <key>sourceSize</key>
                <string>{255,241}</string>
            </dict>
            <key>anim_chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,492},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>anim_chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,850},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>anim_gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{293,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,248}}</string>
                <key>sourceSize</key>
                <string>{293,248}</string>
            </dict>
            <key>anim_gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,671},{170,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,177}}</string>
                <key>sourceSize</key>
                <string>{170,177}</string>
            </dict>
            <key>anim_gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,492},{170,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,177}}</string>
                <key>sourceSize</key>
                <string>{170,177}</string>
            </dict>
            <key>anim_hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{269,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,271}}</string>
                <key>sourceSize</key>
                <string>{269,271}</string>
            </dict>
            <key>anim_hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,800},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>anim_hu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,648},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>anim_peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,252},{238,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,245}}</string>
                <key>sourceSize</key>
                <string>{238,245}</string>
            </dict>
            <key>anim_peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,850},{154,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,144}}</string>
                <key>sourceSize</key>
                <string>{154,144}</string>
            </dict>
            <key>anim_peng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,252},{154,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,144}}</string>
                <key>sourceSize</key>
                <string>{154,144}</string>
            </dict>
            <key>anim_zimo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,241}}</string>
                <key>sourceSize</key>
                <string>{368,241}</string>
            </dict>
            <key>anim_zimo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,715},{218,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,144}}</string>
                <key>sourceSize</key>
                <string>{218,144}</string>
            </dict>
            <key>anim_zimo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{218,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,144}}</string>
                <key>sourceSize</key>
                <string>{218,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_animation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cadea5faa209c480679e32b098fa609b$</string>
            <key>textureFileName</key>
            <string>card_animation.png</string>
        </dict>
    </dict>
</plist>
