<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>littleHuMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>littleShareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{156,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,67}}</string>
                <key>sourceSize</key>
                <string>{156,67}</string>
            </dict>
            <key>scoreFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littleAcount.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26452b851723740284de918fc50054d4$</string>
            <key>textureFileName</key>
            <string>littleAcount.png</string>
        </dict>
    </dict>
</plist>
