<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,200},{58,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{58,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_btn11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,142},{56,62}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,223},{56,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_btn22.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,165},{56,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>comm_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{100,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,23}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>comm_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,165},{61,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{61,55}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>comm_scale9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>comm_scale9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{138,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>comm_scale9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,27},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>comm_scale9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{66,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>comm_scale9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,222},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>comm_scale9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,97},{66,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>comm_scale9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>comm_scale9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>comm_scale9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,27},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fastChat.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:555788407e8374eac05a374f3d24add1$</string>
            <key>textureFileName</key>
            <string>fastChat.png</string>
        </dict>
    </dict>
</plist>
