<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>jiepao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>niao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,86},{81,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>niao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
            <key>niao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
            <key>niao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{81,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>niao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{81,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>zhongniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,30}}</string>
                <key>sourceSize</key>
                <string>{75,30}</string>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littleAcountTxt.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75848629f55cf6fc7914b59cd73a2cf0$</string>
            <key>textureFileName</key>
            <string>littleAcountTxt.png</string>
        </dict>
    </dict>
</plist>
