<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emotion100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{63,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,67},{61,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,124},{61,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,65},{63,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{63,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,246},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,246},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,185},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion130001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,124},{59,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion130002.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,124},{59,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion140001.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,246},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion140002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,252},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion140003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion140004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,252},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion150001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion150002.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,250},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{59,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{59,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,246},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,185},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,185},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,185},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,130},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,191},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{59,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion60001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,63},{61,59}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion60002.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,63},{61,59}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion60003.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,67},{61,59}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion70001.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion70002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion80001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,128},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion80002.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,191},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion80003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,189},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion90001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,63},{61,59}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion90002.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{59,29}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{59,29}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>emotion90003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{61,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emotion.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612952dd6dcdd18d960b99b351bdf884:1/1$</string>
            <key>textureFileName</key>
            <string>emotion.png</string>
        </dict>
    </dict>
</plist>
